@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');
body{
    background-color: #3b141c;
   
}
html {
    scroll-behavior: smooth;
}
.container-header{
   background: #3b141c;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.container-header header{
    max-width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px 20px;
    
}
.container-header header .logo a{
   
    font-size: 45px;
    color:#fff;
    text-decoration: none;

}
.container-header header ul{
    display: flex;
    list-style: none;
}
.container-header header nav ul li a{
    text-align: center;
    color:#fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration:none;
}
.container-header header nav ul li a:hover{
    background-color: #f3961c;
    color: black;
    border-radius: 500px;
    padding: 8px 8px;
}
.home{
    height: 70vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  
    
}
.home .container-banner h2{
    font-family:"Miniver", sans-serif;
    color: #f3961c;
}
button{
    background-color: #f3961c;
    border-radius: 400px;
    flex-direction: column;
}
.container-banner .container-img img{
    display: block;
    width: 80%;
    margin: auto;
}